.container {
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem 2.5rem calc(2rem + 112px);

    display: flex;
    flex-direction: column;
}

.container section {
    flex: 1;

}

.container h1 {
    color: var(--title);

    margin-bottom: 40px;
}